# Semana 05

Garcia Chavez Abraham Anibal

Temas

1. Colecciones de datos
2. Estructuras Decisivas y Estructuras Repetitivas
3. Funciones
4. Clases y objetos

2. Estructuras Decisivas y Estructuras Repetitivas

In [1]:
# 2.1 Estrcucturas Decisivas (if, elif, else)

In [2]:
# if
# Problema: Dado el precio de 3 productos ingresados por el teclado,
#           aplicar un dscto del 10% si la venta es mayor o igual a 1000.

In [3]:
# Solución
P1 = float(input("Producto 1: "))
P2 = float(input("Producto 2: "))
P3 = float(input("Producto 3: "))
total = P1 + P2 + P3
if total>=1000:
    total *= 0.9
print(f"El total a pagar es: {total}")

Producto 1:250
Producto 2:300
Producto 3:550
El total a pagar es: 990.0

In [4]:
# if-else

In [5]:
# Problema 01 (RECORDANDO)
#Dado una lista de [AMES, ARTEAGA , BARRIOS , BONIFACIO, BRAVO, CABALLERO , CAÑAZACA, FERNANDEZ , FLORES , GARCIA , HERRERA ,
#                    HUERTA , HUERTAS, JIMENEZ , MAMANI , MANCILLA, PABLO , PAYE , PEÑA , PIZANGO, RAMOS, SANCHEZ,SEVILLANO,
#                    TINOCO, TORRES , VALDIVIESO, VELEZ , VILLANUEVA , ZUÑIGA]
#
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado) forma parte de la lista

In [6]:
# Soluciòn:
LP3 = ["AMES", "ARTEAGA", "BARRIOS ", "BONIFACIO", "BRAVO", "CABALLERO", "CAÑAZACA", "FERNANDEZ",
       "FLORES", "GARCIA", "HERRERA", "HUERTA", "HUERTAS", "JIMENEZ", "MAMANI", "MANCILLA",
       "PABLO", "PAYE", "PEÑA", "PIZANGO", "RAMOS", "SANCHEZ", "SEVILLANO", "TINOCO", "TORRES", "VALDIVIESO", "VELEZ", "VILLANUEVA", "ZUÑIGA"]

In [7]:
apellido = input("Ingresa nombre a buscar: ")

# Como los datos de la lista estan en mayuscula, utilizo " upper() "

if apellido.upper() in LP3:  # VUELVE LA ENTRADA EN MAYUSCULA Y ASI BUSCAR EN LA LISTA
    print("Si esta en la lista de LP3")
else:
    print("No esta en la lista de LP3")

Ingresa nombre a buscar:GARCIA
Si esta en la lista de LP3

In [8]:
# Problema 02
# Dado el importe total de ventas realizadas por un trabajador 
# (ingresado por teclado, categorizar que tipo de empleado es,
# considerando la siguiente tabla:

In [9]:
# Categoria: A -> [0, 1000]
# Categoria: B -> <1000, 2000]
# Categoria: C -> <2000, 5000]
# Categoría: D -> <5000, Mas]

In [10]:
# Tiempo asignado: 12 minutos

In [12]:
#Solucion
ventas = float(input("Importe de ventas realizadas: "))
if ventas<0:
    print("Datos erroneos")
else:
    if ventas<=1000:
        print("Categoria A")
    else:
        if ventas<=2000:
            print("Categoria B")
        else:
            if vemtas<=5000:
                print("Categoria C")
            else:
                print("Categoria D")

Importe de ventas realizadas:2000
Categoria B

In [13]:
# elif
# Problema 03, Solucionar el problema anterior utilizando " elif "

In [14]:
# elif
# Problema 03, Solucionar el problema anterior utilizando elif

# Dado el importe total de ventas realizadas por un trabajador (ingresado por teclado,
# categorizar que tipo de empleado es, considerando la siguiente tabla:

# Categoria: A -> [0, 1000]
# Categoria: B -> <1000, 2000]
# Categoria: C -> <2000, 5000]
# Categoría: D -> <5000, Mas]

# Tiempo asignado: 12 minutos

In [15]:
#Solucion

ventas = float(input("Importe de ventas realizadas: "))
if ventas<0:
    print("Datos erroneos")
elif ventas<=1000:
    print("Categoria A")
elif ventas<=2000:
    print("Categoria B")
elif ventas<=5000:
    print("Categoria C")
else:
    print("Categoria D")

Importe de ventas realizadas:4999
Categoria C

In [16]:
# 2.2 Estructuras repetitivas
# for

In [17]:
# Problema 01:
# Mostrar los elementos de una lista utilizando " for "

In [19]:
# Soluciòn
aula = ["Barrios","Sevillano","Zuñiga","Paye"]
3
#Por cada alumno que esta en la lista, imprimir alumno
for alumno in aula:
    print(alumno3)

Barrios
Sevillano
Zuñiga
Paye

In [20]:
# Problema 02:
# Dado una cadena ingresado por teclado,
# mostrar cada caracter de la cadena, utilizando la estructura for

In [21]:
# Soluciòn
cadena = input("Ingrese Cadena: ")
for caracter in cadena:
    print(caracter)

Ingrese Cadena: Universidad Nacional Tecnologica de Lima Sur
U
n
i
v
e
r
s
i
d
a
d

N
a
c
i
o
n
a
l

T
e
c
n
o
l
o
g
i
c
a

d
e

L
i
m
a

S
u
r

In [23]:
# Para generar rangos de numeros utilizamos " range() "
range(5)
#[0,5]

range(0, 5)

In [24]:
# Problema 02
# Imprimir los numeros de 0 a 10, utilizando for
for numero in range(11):
    print(numero)

0
1
2
3
4
5
6
7
8
9
10

In [25]:
# Problema 03
# Imprimir los numeros de 5 a 10, utilizando for
for numero in range(5,11):
    print(numero)

5
6
7
8
9
10

In [28]:
# Problema 04
# Imprimir los numeros de 10 a 20, utilizando for
for numero in range(10,22,2):
    print(numero)

10
12
14
16
18
20

In [29]:
# while
# Permite ejecutar un conjunto de acciones mientras se cumpla una condicion

In [32]:
# Ejemplo:
numero = 1
fin = 10
while numero <= fin:
    print(numero)
    #numero = numero+1
    numero += 1

1
2
3
4
5
6
7
8
9
10